openapi: 3.1.0
info:
  title: FinanciaX API
  version: 1.0.0
servers:
  - url: https://api.financiax.com/v1
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ApiResponse:
      type: object
      properties:
        status:
          type: string
        data:
          type: object
        error:
          type: object
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        full_name:
          type: string
        role:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        currency:
          type: string
        balance:
          type: number
          format: float
    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        account_id:
          type: string
        category_id:
          type: string
          nullable: true
        description:
          type: string
        amount:
          type: number
          format: float
        currency:
          type: string
        date:
          type: string
          format: date
    Budget:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        period:
          type: string
    Loan:
      type: object
      properties:
        id: { type: string }
        principal: { type: number, format: float }
        interest_rate: { type: number, format: float }
    Investment:
      type: object
      properties:
        id: { type: string }
        type: { type: string }
        name: { type: string }
paths:
  /users:
    get:
      summary: List users
      tags: [Users]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    post:
      summary: Create user
      tags: [Users]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, full_name]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                full_name: { type: string }
      responses:
        '201': { description: created }
  /users/{id}:
    get:
      summary: Get user
      tags: [Users]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: ok }
    patch:
      summary: Update user
      tags: [Users]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_name: { type: string }
                role: { type: string }
      responses:
        '200': { description: updated }
    delete:
      summary: Delete user
      tags: [Users]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '204': { description: deleted }
  /accounts:
    get:
      summary: List accounts
      tags: [Accounts]
      responses:
        '200': { description: ok }
    post:
      summary: Create account
      tags: [Accounts]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type, currency]
              properties:
                name: { type: string }
                type: { type: string }
                currency: { type: string }
      responses:
        '201': { description: created }
  /accounts/{id}:
    get:
      summary: Get account
      tags: [Accounts]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: ok }
    patch:
      summary: Update account
      tags: [Accounts]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                type: { type: string }
                currency: { type: string }
      responses:
        '200': { description: updated }
    delete:
      summary: Delete account
      tags: [Accounts]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '204': { description: deleted }
  /transactions:
    get:
      summary: List transactions
      tags: [Transactions]
      parameters:
        - in: query
          name: account_id
          schema: { type: string }
      responses:
        '200': { description: ok }
    post:
      summary: Create transaction
      tags: [Transactions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [account_id, amount, currency, date, description]
              properties:
                account_id: { type: string }
                category_id: { type: string }
                amount: { type: number }
                currency: { type: string }
                date: { type: string, format: date }
                description: { type: string }
      responses:
        '201': { description: created }
  /transactions/{id}:
    get:
      summary: Get transaction
      tags: [Transactions]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '200': { description: ok }
    patch:
      summary: Update transaction
      tags: [Transactions]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description: { type: string }
                amount: { type: number }
      responses:
        '200': { description: updated }
    delete:
      summary: Delete transaction
      tags: [Transactions]
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      responses:
        '204': { description: deleted }
  /loans:
    get: { summary: List loans, tags: [Loans], responses: { '200': { description: ok } } }
    post:
      summary: Create loan
      tags: [Loans]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [account_id, principal, interest_rate]
              properties:
                account_id: { type: string }
                principal: { type: number }
                interest_rate: { type: number }
      responses:
        '201': { description: created }
  /investments:
    get: { summary: List investments, tags: [Investments], responses: { '200': { description: ok } } }
    post:
      summary: Create investment
      tags: [Investments]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [account_id, type, name]
              properties:
                account_id: { type: string }
                type: { type: string }
                name: { type: string }
      responses:
        '201': { description: created }
  /budgets:
    get: { summary: List budgets, tags: [Budgets], responses: { '200': { description: ok } } }
    post:
      summary: Create budget
      tags: [Budgets]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name, period, start_date, end_date]
              properties:
                name: { type: string }
                period: { type: string }
                start_date: { type: string, format: date }
                end_date: { type: string, format: date }
      responses:
        '201': { description: created }
  /categories:
    get: { summary: List categories, tags: [Categories], responses: { '200': { description: ok } } }
    post:
      summary: Create category
      tags: [Categories]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name: { type: string }
                type: { type: string }
      responses:
        '201': { description: created }
  /importer/ingest:
    post:
      summary: Upload statement
      tags: [Importer]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
                account_id: { type: string }
                type: { type: string, enum: [pdf, csv, ofx, xlsx] }
      responses:
        '202': { description: queued }
  /attachments:
    post:
      summary: Upload attachment
      tags: [Attachments]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file: { type: string, format: binary }
                owner_id: { type: string }
                owner_type: { type: string }
      responses:
        '201': { description: created }
  /reports/summary:
    get: { summary: Financial summary, tags: [Reports], responses: { '200': { description: ok } } }
  /ml/predict/category:
    post:
      summary: Predict category
      tags: [ML]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text: { type: string }
      responses:
        '200': { description: ok }
  /ml/recommend/savings-plan:
    post:
      summary: Recommend savings plan
      tags: [ML]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                income: { type: number }
                expenses: { type: number }
      responses:
        '200': { description: ok }
  /ml/stats:
    get: { summary: ML stats, tags: [ML], responses: { '200': { description: ok } } }
